<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <h3>Drag and drop list</h3>
      <p>An implementation of Drag-n-drop using Angular components and event binding.</p>
    </div>

    <div class="col-xs-12 col-sm-4">

      <ul class="list-group drag-n-drop-example">
        <li *ngFor="let item of listData; let i = index"
            draggable="true"
            (dragstart)="onDragStart($event, i)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, i)"
            class="list-group-item">
          {{ item }}
        </li>
      </ul>

    </div>

  </div>

  <div class="row" style="margin-top:25px">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class='list-group'>
        <a class='list-group-item' href='https://floresj4.github.io/'>
          <span class='glyphicon glyphicon-home'></span> &nbsp; floresj4.github.io</a>
        <a class='list-group-item' href='https://github.com/Floresj4/angular-drag-n-drop'>
          <span class='glyphicon glyphicon-console'></span> &nbsp; https://github.com/Floresj4/angular-drag-n-drop</a>
      </div>
    </div>
  </div>
</div>
