.plus-sign::after {
  content: '+';
  font-weight: bolder;
}

.btn-add {
  padding: 2px 6px !important;
  margin-top: 2px;
  float:right;
}

.input-add {
  width: 90%;
  display: inline-block;
}

.drag-n-drop-example {
  margin-top:20px;
}
